<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanyuebb.myblog.common.mapper.TbArticleMapper">
  <resultMap id="BaseResultMap" type="com.hanyuebb.myblog.common.domain.TbArticle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_summary" jdbcType="VARCHAR" property="articleSummary" />
    <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
    <result column="modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
    <result column="atype_id" jdbcType="BIGINT" property="atypeId" />
  </resultMap>
</mapper>